head {
    display:none;
}
h1{
    text-align:left;
    padding:1.25em;

}
body{
    background-color:#85C1E9;
    line-height:1.5em;
    
}

#wrap{
  position: absolute; 
  left: 50%; 
  width: 75em;
  margin-left: -37.5em;
}

#mainSection{
    padding-left:1.875em;
}

#page{
    text-align:center;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.875em;

}
       
nav{
       text-align:center;
       font-size:1.5625em;
       padding:0.625em;
   
}

ul {
    list-style-position: inside;
}
.myColor{
    background-color:#AED6F1;
         border-style:solid;
         border-width:0.03125em;
         border-color:#2E86C1;
}

.myColor2{
     background-color:#EBF5FB;
}

footer{
  text-align:center;
  padding:0.625em;
  clear:both;
}

img{
  height:100%;
  width:100%;
  padding-top:1.5625em;
}


article{
  font-size:1.25em;
  padding-right:1.875em;
  padding-bottom:4.375em;
}

.gallery{
     width: 97.5%;
    text-align: center;
}
.allfig {
    padding: 0.9375em;
    text-align: center;
    font-size:1.2685em;
    font-family:cursive, sans-serif;
}


@media screen and (min-width: 72.1em){
  #primary{
  float:right;
  width:54%;
}

#secondary{
  float:left;
  width:36%;
  padding-left: 1em;
}
  footer {
    clear: both;
  }
}


@media screen and (min-width: 40em) and (max-width: 72em){
h1{
    text-align:left;
    padding-left:0.625em;

}
#wrap{
  left: 50%; 
  width: 50em;
  margin-left:25em;
}
.myColor2{
     background-color:#EBF5FB;
     display:block;
}
#mainSection{
    padding-left:0.938em;
}

#page{
    text-align:center;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.250em;

}
       
nav{
       text-align:center;
       font-size:1.250em;
       padding:0.625em;
   
}
ul {
    list-style-position: inside;
}
img{
  height:100%;
  width:100%;
}


article{
  font-size:1.250em;
  padding-right:1.875em;
  padding-bottom:4.375em;
}
#primary{
  float:right;
  width:54%;
}

#secondary{
  float:left;
  width:36%;
}
  footer {
    clear: both;
  }

}
@media screen and (min-width: 0em) and (max-width: 39.9em){
  h1{
    text-align:left;
    padding-left:0.625em;
    font-size: 1.563em;

}
#wrap{
  left: 50%; 
  width: 21.875em;
  margin-left:-10.938em;
}
.myColor2{
     background-color:#EBF5FB;
     display:block;
}
#mainSection{
    padding-left:0.938em;
}

#page{
    text-align:center;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:1.250em;

}
       
nav{
       text-align:center;
       font-size:0.938em;
       padding:0.625em;
   
}

ul {
    list-style-position: inside;
    padding-left: 0.313em;
}

  #primary {
  display: block;
  width: auto;
    padding-left:1em;
  }

  #secondary {
    width: 83%;
    text-align: center;
    padding-bottom:1.563em;
    padding-left:1.15em;
  }
}
}